<div  style=" width:50%; margin: 20px auto;" >
<form action="/drafts" method="post">
    <div>
    <input type="text" name="name" placeholder="Enter Draft Name">
    </div>
    
            <div>
            
            <input type="submit">
        </div>
        </form>
        </div>