<div>
    
    <%= error %>
    
</div>

<div>
    
    <%= success %>
    
</div>

<div  style=" width:50%; margin: 20px auto;" >
<form action="/login" method="post">
    
    <div>
    <input type="email" name="email" placeholder="Enter email">
    </div>
    <div>
    <input type="password" name="password" placeholder="Enter Password">
    </div>
    
    
            <div>
            
            <input type="submit">
        </div>
        </form>
        </div>